:root {
    --text-base-size: 1em;
    
    /* colors variables */
    --primary-color: #107F4C;
    --dark-green-color: #0F4C3A;
    --light-green-color: #17BA6F;
    --black-color: #070707;
    --white-color: #FFFFFF;
    --gray-color: #D9D9D9;
    --dark-gray-color: #636363;
    --red-color: #EF4444;
}

/* The title of the page */
#heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#heading p {
    margin-top: -15px;
}

#colored-text {
    color: var(--primary-color);
}

/* chatbot container */

#chatting {
    display: flex;
    justify-content: center;
    height: 70vh;
}

/* background */
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../public/assets/images/mash-blured-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw ;
    
    width: 90vw;
    
    border: solid 2px var(--gray-color);
    border-radius: 10px;
    padding: 10px 60px;
   
}

.chat-container {
    overflow-Y: auto;
    scroll-behavior: smooth;
    overflow-anchor: none;
    
    
}

.chat-container::-webkit-scrollbar {
    width: 8px;
}

.chat-container::-webkit-scrollbar-track {
    background: var(--gray-color);
    border-radius: 4px;
}

.chat-container::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 4px;
}

.chat-container::-webkit-scrollbar-thumb:hover {
    background: var(--dark-green-color);
}

/* message with label */
.right-message-container {
    max-width: 70%;
    margin: 30px 0px;
    justify-self: end;
}

.left-message-container {
    max-width: 70%;
    margin: 30px 0px;
    justify-self: start;
}

.label {
    justify-self: start;
    margin-bottom: 2px;
}

/* message container */
.message {
    background-color: transparent;
    border: solid 1px var(--dark-gray-color);
    border-radius: 6px;
    max-width: 100%;
    word-break: break-all;
    padding: 0 10px;
}


/* text input */
#text-form {
    width: 100%;
    display: flex;
    padding-top: 5px;
    position: relative;
}

#text-input {
    
    height: 40px;
    background-color: var(--white-color);
    border: solid 1px var(--gray-color);
    padding-left: 5px;
    padding-right: 40px;
    border-radius: 6px;
    width: 100%;
}

#text-input:focus {
    outline: solid 1px var(--primary-color);
   
}

#send-icon {
    position: absolute;
    top: 14px;
    right: 20px;
    height: 20px;
}
