.button {
    cursor: pointer;
    display: flex;
    font-family: inherit;
    justify-content: center;
    align-items: center;
    padding: .5rem 1.5rem;
    width: fit-content;
    min-width: 8rem;
    border: 3px solid;
    border-radius: 6px;
    border-color: var(--primary-color);
    color: var(--primary-color);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.button-primary {
    border-color:var(--primary-color);
    background-color: var(--primary-color);
    color: var(--white-color);
}

.button-secondary {
    background-color: var(--white-color);
}

.primary-text {
    color: var(--primary-color);
}

.button:hover, .button:focus {
    border-color: var(--dark-green-color);
    color: var(--dark-green-color);
}

.button-primary:hover, .button-primary:focus {
    border-color: var(--dark-green-color);
    background-color: var(--dark-green-color);
    color: var(--white-color);
}

/* Desktop styling */
@media (min-width: 1024px) {
    .button {
        padding: 1rem 2rem;
        min-width: 9.375rem;
    }
}