header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 1.5rem 1rem 1.5rem;
    position: relative;
}

.logo-container a {
    display: flex;
    text-decoration: none;
    color: var(--black-color);
    gap: .5rem;
}

.logo-icon-lg {
    display: none;
}

.logo-text {
    text-decoration: none;
    color: var(--black-color);
    font-weight: var(--fw-bold);
    font-size: var(--fs-subheading);
}

.desktop-nav {
    display: none;
    list-style: none;
    gap: 1rem;
}

.desktop-nav a {
    text-decoration: none;
}

.menu-button {
    display: block;
    background: none;
    border: none;
}

.menu-icon {
    width: 24px;
}

.menu-button.open .menu-icon {
    width: 20px;
}

.mobile-menu {
    display: none;
    align-items: center;
    flex-direction: column;
    padding: .625rem 4rem;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: var(--white-color);
    color: var(--black-color);
}

.mobile-menu.active {
    display: flex;
}

.mobile-menu ul {
    color: var(--black-color);
    text-align: center;
}

.mobile-menu ul li {
    margin-bottom: .625rem;
}

.menu-profile-icon {
    width: 1.5rem;
}

.profile-view {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.profile-signout-icon {
    width: 1.25rem;
}

.profile-signout {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

/* Tablet Styles */
@media (min-width: 768px) {
    header {
        padding: 1rem 4rem;
    }

    .logo-icon-lg {
        display: inline;
    }

    .logo-icon-sm {
        display: none;
    }

    .menu-icon{
        width: 40px;
    }
}

/* Desktop Styles */
@media (min-width: 1024px) {
    header {
        padding: 1rem 6.25rem;
    }

    .button {
        padding: 1rem 2rem;
        min-width: 9.375rem;
    }

    .logo-icon-lg {
        display: inline;
    }

    .logo-icon-sm {
        display: none;
    }

    .desktop-nav {
        display: flex;
        gap: 1.5rem;
    }

    .desktop-nav ul {
        display: flex;
        align-items: center;
        gap: .625rem;
    }

    .desktop-nav .button {
        padding: .75rem 1.5rem;
        min-width: 6.25rem;
    }

    .menu-button {
        display: none;
    }

    .profile-container {
        position: relative;
    }

    .profile-icon {
        width: 3rem;
    }

    .profile-dropdown {
        display: none;
        flex-direction: column;
        gap: 1rem;
        padding: 1.5rem 1rem;
        border: 1px solid var(--gray-color);
        width: max-content;
        filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.25));
        border-radius: 8px;
        position: absolute;
        top: 100%;
        right: 0;
    }

    .profile-container.active .profile-dropdown {
        display: flex;
    }

    .profile-dropdown-view .label-text {
        font-size: var(--fs-label);
        color: var(--dark-gray-color);
        flex-shrink: 0;
    }

    .profile-signout {
        justify-content: flex-start;
    }
}